@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-display: "Inter", "sans-serif";
  --font-arabic: "Amiri", "serif";

  --color-primary: #11d462;
  --color-background-light: #FDFDFD;
  --color-background-dark: #102218;
  --color-sidebar-light: #F5F5F5;
  --color-sidebar-dark: #0d1c14;
  --color-paper-light: #ffffff;
  --color-paper-dark: #182e22;
  --color-matn-light: #FFF9E5;
  --color-matn-dark: #1f3a2b;
  --color-syarh-light: #ffffff;
  --color-syarh-dark: #182e22;
  --color-accent-border: #156846;
  --color-deep-green: #156846;

  --radius-lg: 0.5rem;
  --radius-xl: 0.75rem;
  --radius-2xl: 1rem;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.3);
  border-radius: 20px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.5);
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.sticky-chunk-header {
  position: sticky;
  top: 0;
  z-index: 10;
  backdrop-filter: blur(4px);
  padding-top: 1rem;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}

input[type=range][orient=vertical] {
  writing-mode: bt-lr;
  -webkit-appearance: slider-vertical;
  width: 8px;
  height: 100%;
  padding: 0 5px;
}